@keyframes hero {
  0% {
    transform: translateX(100rem) rotate(360deg);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes desgin-1 {
  0% {
    width: 0; }
  100% {
    width: 80%; } }

@keyframes desgin-2 {
  0% {
    width: 0; }
  100% {
    width: 90%; } }

@keyframes desgin-3 {
  0% {
    width: 0; }
  100% {
    width: 85%; } }

@keyframes desgin-4 {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes coding-1 {
  0% {
    width: 0; }
  100% {
    width: 85%; } }

@keyframes coding-2 {
  0% {
    width: 0; }
  100% {
    width: 95%; } }

@keyframes coding-3 {
  0% {
    width: 0; }
  100% {
    width: 75%; } }

@keyframes coding-4 {
  0% {
    width: 0; }
  100% {
    width: 60%; } }

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/******************************************** Utility Components ***************************************/
:root {
  font-size: 62.5%;
  /************ Custom Properties ***********/
  /* Main Color */
  --primary-color: #014d4e;
  /* Secondary Color */
  --secondary-color: #ff9408;
  /* Secondary Color Modified */
  --secondary-color-m: #ff94088e;
  /* tertiary color */
  --tertiary-color: #017374;
  /* tertiary color modified */
  --tertiary-color-m: #01727498; }

body {
  font-family: "Baloo Tamma 2", cursive;
  line-height: 1.8;
  display: flex; }

li {
  list-style: none; }

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem; }

.side-nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh; }
  .side-nav__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
    height: 100%; }
    .side-nav__content--logo {
      display: inline-block;
      width: calc(3vw + 3vh); }
    .side-nav__content--social {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem; }
      .side-nav__content--social__link--icon {
        font-size: calc(1rem + 0.66667vw);
        color: #fff;
        padding-bottom: calc(2rem + 0.66667vw);
        transition: color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
        .side-nav__content--social__link--icon:hover, .side-nav__content--social__link--icon :active {
          color: var(--secondary-color); }

main {
  flex: 1; }

.header {
  background-color: var(--secondary-color);
  height: calc(3vw + 3vh); }
  .header__main-nav {
    height: 100%; }
    .header__main-nav--link {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end; }
      .header__main-nav--link__item {
        padding-right: 3vw;
        display: flex;
        align-items: center; }
        .header__main-nav--link__item a {
          position: relative;
          padding: 0.2rem 0.6rem;
          font-size: calc(1rem + 0.66667vw); }
          .header__main-nav--link__item a:link::before, .header__main-nav--link__item a:visited::before, .header__main-nav--link__item a:link::after, .header__main-nav--link__item a:visited::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 0.25rem;
            background-color: #fff;
            transform: scaleX(0);
            transition: transform 0.6s cubic-bezier(1, 0, 0, 1); }
          .header__main-nav--link__item a:link::before, .header__main-nav--link__item a:visited::before {
            top: 0;
            transform-origin: left; }
          .header__main-nav--link__item a:link::after, .header__main-nav--link__item a:visited::after {
            bottom: 0;
            transform-origin: right; }
          .header__main-nav--link__item a:hover::before, .header__main-nav--link__item a:active::before, .header__main-nav--link__item a:hover::after, .header__main-nav--link__item a:active::after {
            transform: scaleX(1); }

@media screen and (max-width: 610px) {
  .header__main-nav {
    width: 30rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -30rem;
    background-color: var(--secondary-color);
    text-align: center;
    z-index: 10; }
    .header__main-nav--humburger {
      width: 5rem;
      height: 5rem;
      position: fixed;
      top: 2rem;
      right: 3rem;
      cursor: pointer;
      background-color: var(--secondary-color);
      padding: 1rem;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .header__main-nav--humburger__line {
        width: 100%;
        height: 0.3rem;
        background-color: #fff;
        border-radius: 0.2rem;
        transition: all 0.4s ease-in-out; }
    .header__main-nav--link {
      background-color: var(--secondary-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .header__main-nav--link__item {
        opacity: 0; }
        .header__main-nav--link__item:nth-child(1) {
          transition: all 0.5s ease-in-out 0.2s; }
        .header__main-nav--link__item:nth-child(2) {
          transition: all 0.5s ease-in-out 0.4s; }
        .header__main-nav--link__item:nth-child(3) {
          transition: all 0.5s ease-in-out 0.6s; }
        .header__main-nav--link__item:nth-child(4) {
          transition: all 0.5s ease-in-out 0.8s; }
        .header__main-nav--link__item:nth-child(5) {
          transition: all 0.5s ease-in-out 1s; }
        .header__main-nav--link__item:nth-child(6) {
          transition: all 0.5s ease-in-out 1.2s; }
  .clicked {
    left: 55%; }
  .clicked .line1 {
    transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem); }
  .clicked .line2 {
    opacity: 0; }
  .clicked .line3 {
    transform: rotateZ(405deg) translate(-0.8rem, -0.6rem); }
  .fade {
    opacity: 1; } }

.showcase {
  height: 100vh;
  background-image: url("../img/full-bg-07.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .showcase__content {
    background-color: var(--secondary-color-m);
    padding: calc(1rem + 2vw);
    height: calc(5rem + 20vmax);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: hero 2s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .showcase__content--title {
      font-size: calc(2rem + 3vw);
      color: #fff; }
    .showcase__content--para {
      font-family: "Indie Flower", cursive;
      font-size: calc(1.5rem + 1vw);
      color: #fff; }
    .showcase__content--link:link, .showcase__content--link:visited {
      padding: 1rem 0;
      transition: all 0.5s ease-in-out;
      width: 9rem;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.2rem;
      position: relative;
      z-index: 1; }
    .showcase__content--link:link::after, .showcase__content--link:visited::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--primary-color);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
      z-index: -1; }
    .showcase__content--link:hover::after, .showcase__content--link:active::after {
      transform: scaleX(1);
      transform-origin: left; }

@media screen and (max-width: 900px) {
  .showcase {
    background-position: 100%;
    align-items: flex-end; } }

@media screen and (max-width: 610px) {
  .showcase {
    background-position: 80%; } }

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background-color: var(--tertiary-color); }
  .work__card {
    padding: 2rem;
    flex-basis: 40rem;
    flex-grow: 1;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); }
    .work__card--img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: filter 0.45s ease; }
      .work__card--img:hover, .work__card--img:active {
        filter: sepia(80%); }

.about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: var(--secondary-color); }
  .about-me__img, .about-me__content {
    flex-basis: 40rem;
    padding: 2rem;
    flex-grow: 1; }
  .about-me__img--img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .about-me__content--title, .about-me__content--para {
    margin-bottom: 4rem;
    letter-spacing: 0.2rem; }
  .about-me__content--title {
    font-size: 4rem;
    padding: 1rem 0;
    color: #fff;
    text-transform: uppercase;
    position: relative; }
    .about-me__content--title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0.3rem;
      width: 10%;
      background-color: var(--primary-color); }
  .about-me__content--para {
    font-size: 1.8rem;
    font-family: "Indie Flower", cursive; }
  .about-me__content--link:link, .about-me__content--link:visited {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    position: relative;
    z-index: 1; }
  .about-me__content--link:link::after, .about-me__content--link:visited::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: -1; }
  .about-me__content--link:hover::after, .about-me__content--link:active::after {
    transform: scaleY(1);
    transform-origin: top; }

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 6rem 2rem;
  background-color: var(--primary-color); }
  .services__service {
    padding: 4rem;
    margin: 0 2rem 4rem;
    flex-basis: 40rem;
    flex-grow: 1;
    background-color: var(--secondary-color);
    border-bottom: 0.2rem solid var(--secondary-color);
    border-right: 0.2rem solid var(--secondary-color);
    border-left: 0.2rem solid var(--secondary-color);
    position: relative;
    z-index: 1; }
    .services__service::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--primary-color);
      transform: scaleX(0);
      transition: transform 0.45s cubic-bezier(1, 0, 0, 1);
      z-index: -1; }
    .services__service:hover::after,
    .services__service :active::after {
      transform: scaleX(1); }
    .services__service--icon, .services__service--title {
      margin-bottom: 2rem;
      font-size: 3rem; }
    .services__service--icon {
      color: #fff; }
    .services__service--title {
      text-transform: uppercase; }
    .services__service--para {
      font-family: "Indie Flower", cursive;
      font-size: 2rem;
      color: #fff; }

@media screen and (max-width: 610px) {
  .services {
    padding: 6rem 3rem 2rem; }
    .services__service {
      padding: calc(1rem + 2vw);
      margin: 0 0 calc(1rem + 2vw); }
      .services__service--title {
        font-size: calc(1.2rem + 2vw); }
      .services__service--para {
        font-size: calc(.8rem + 2vw); } }

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: calc(1rem + 2vw);
  background-color: var(--tertiary-color); }
  .skills__desgin, .skills__coding {
    padding: calc(1rem + 2vw);
    text-transform: uppercase;
    flex-basis: 40rem;
    flex-grow: 1; }
  .skills__desgin--title, .skills__coding--title {
    font-size: 3rem;
    margin-bottom: 2rem; }
  .skills__desgin h4,
  .skills__coding h4 {
    font-size: 2rem;
    color: #fff; }
  .skills__desgin--progress, .skills__coding--progress {
    position: relative;
    display: block;
    padding: 0.5rem;
    border-radius: 3rem;
    background-color: var(--primary-color);
    width: 100%;
    margin-bottom: 2rem; }
  .skills__desgin--progress span,
  .skills__coding--progress span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 2rem;
    width: 5rem;
    background-color: var(--secondary-color);
    border-radius: 1rem; }
  .skills__desgin--progress__1 {
    animation: desgin-1 4s infinite cubic-bezier(1, 0, 0, 1); }
  .skills__desgin--progress__2 {
    animation: desgin-2 4s infinite cubic-bezier(1, 0, 0, 1); }
  .skills__desgin--progress__3 {
    animation: desgin-3 4s infinite cubic-bezier(1, 0, 0, 1); }
  .skills__desgin--progress__4 {
    animation: desgin-4 4s infinite cubic-bezier(1, 0, 0, 1); }
  .skills__coding--progress__1 {
    animation: coding-1 4s infinite cubic-bezier(1, 0, 0, 1); }
  .skills__coding--progress__2 {
    animation: coding-2 4s infinite cubic-bezier(1, 0, 0, 1); }
  .skills__coding--progress__3 {
    animation: coding-3 4s infinite cubic-bezier(1, 0, 0, 1); }
  .skills__coding--progress__4 {
    animation: coding-4 4s infinite cubic-bezier(1, 0, 0, 1); }

@media screen and (max-width: 610px) {
  .skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: calc(1rem + 2vw);
    background-color: var(--tertiary-color); }
    .skills__desgin, .skills__coding {
      padding: calc(1rem + 2vw);
      text-transform: uppercase;
      flex-basis: 40rem;
      flex-grow: 1; }
    .skills__desgin--title, .skills__coding--title {
      font-size: calc(1rem + 2vw);
      margin-bottom: 2rem; }
    .skills__desgin h4,
    .skills__coding h4 {
      font-size: calc(0.6rem + 2vw);
      color: #fff; }
    .skills__desgin--progress, .skills__coding--progress {
      position: relative;
      display: block;
      padding: 0.5rem;
      border-radius: 3rem;
      background-color: var(--primary-color);
      width: 100%;
      margin-bottom: 2rem; }
    .skills__desgin--progress span,
    .skills__coding--progress span {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: 2rem;
      width: 5rem;
      background-color: var(--secondary-color);
      border-radius: 1rem; }
    .skills__desgin--progress__1 {
      animation: desgin-1 4s infinite cubic-bezier(1, 0, 0, 1); }
    .skills__desgin--progress__2 {
      animation: desgin-2 4s infinite cubic-bezier(1, 0, 0, 1); }
    .skills__desgin--progress__3 {
      animation: desgin-3 4s infinite cubic-bezier(1, 0, 0, 1); }
    .skills__desgin--progress__4 {
      animation: desgin-4 4s infinite cubic-bezier(1, 0, 0, 1); }
    .skills__coding--progress__1 {
      animation: coding-1 4s infinite cubic-bezier(1, 0, 0, 1); }
    .skills__coding--progress__2 {
      animation: coding-2 4s infinite cubic-bezier(1, 0, 0, 1); }
    .skills__coding--progress__3 {
      animation: coding-3 4s infinite cubic-bezier(1, 0, 0, 1); }
    .skills__coding--progress__4 {
      animation: coding-4 4s infinite cubic-bezier(1, 0, 0, 1); } }

.testimonials {
  padding: calc(1rem + 2rem);
  background-color: var(--secondary-color);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .testimonials__card {
    padding: 2vw;
    flex-basis: 58rem;
    flex-grow: 1;
    position: relative;
    overflow: hidden; }
    .testimonials__card:hover .testimonials__card--content,
    .testimonials__card:active .testimonials__card--content {
      transform: scaleY(1);
      transform-origin: center; }
    .testimonials__card--img {
      width: 100%;
      height: 100%; }
      .testimonials__card--img__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.35s ease-in-out; }
        .testimonials__card--img__image:hover, .testimonials__card--img__image:active {
          transform: scale(0.98);
          filter: grayscale(50%); }
    .testimonials__card--content {
      position: absolute;
      top: 60%;
      left: 0;
      background-color: var(--tertiary-color-m);
      width: 80%;
      padding: 1.5rem;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.35s ease-in-out; }
      .testimonials__card--content__title {
        font-size: 3rem;
        text-transform: uppercase; }
      .testimonials__card--content__para {
        font-family: "Indie Flower", cursive;
        font-size: 1.5rem; }

@media screen and (max-width: 610px) {
  .testimonials__card--content__title {
    font-size: calc(0.6rem + 2vw); }
  .testimonials__card--content__para {
    font-size: calc(0.4rem + 2vw); } }

@media screen and (max-width: 440px) {
  .testimonials__card:hover .testimonials__card--content,
  .testimonials__card:active .testimonials__card--content {
    transform-origin: top; }
  .testimonials__card--content {
    top: 0%;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .testimonials__card--content__title {
      font-size: calc(0.4rem + 2vw); }
    .testimonials__card--content__para {
      font-size: calc(0.2rem + 2vw); } }

.contact {
  height: 100vh;
  background-image: url("../../img/full-bg-03.jpg");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
  .contact__form {
    display: flex;
    flex-direction: column;
    flex-basis: 40rem;
    background-color: var(--tertiary-color-m); }
    .contact__form > input,
    .contact__form textarea {
      color: #fff;
      font-family: "Indie Flower", cursive;
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
      padding: 2rem;
      background-color: transparent;
      border: none;
      border-bottom: 0.1rem solid var(--secondary-color); }
    .contact__form > input::placeholder,
    .contact__form textarea::placeholder {
      color: #fff;
      opacity: 1;
      /* Firefox */ }
    .contact__form textarea {
      height: 30vh; }
    .contact__form--submit {
      border: none;
      cursor: pointer; }

@media screen and (max-width: 460px) {
  .contact {
    background-position: 5% 5%; } }

/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 5px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color); }

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/************************************************************Start Key Frames*/
/************************************************************End Key Frames*/
/************************************************************Start Header*/
/************************************************************End Header*/
