.showcase {
  height: 100vh;
  background-image: url("../img/full-bg-07.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &__content {
    background-color: var(--secondary-color-m);
    padding: calc(1rem + 2vw);
    height: calc(5rem + 20vmax);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: hero 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &--title {
      font-size: calc(2rem + 3vw);
      color: #fff;
    }
    &--para {
      font-family: "Indie Flower", cursive;
      font-size: calc(1.5rem + 1vw);
      color: #fff;
    }
    &--link {
      &:link,
      &:visited {
        padding: 1rem 0;
        transition: all 0.5s ease-in-out;
        width: 9rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 0.2rem;
        position: relative;
        z-index: 1;
      }
      &:link::after,
      &:visited::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);

        z-index: -1;
      }
      &:hover::after,
      &:active::after {
        transform: scaleX(1);
        transform-origin: left;
        // transition: transform 0.45s;
      }
    }
  }
}

//*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Media Query*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

@media screen and (max-width: 900px) {
  .showcase {
    background-position: 100%;
    align-items: flex-end;
  }
}
@media screen and (max-width: 610px) {
  .showcase {
    background-position: 80%;
  }
}
