/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************************************** Utility Components ***************************************/

:root {
  font-size: 62.5%;
  /************ Custom Properties ***********/

  /* Main Color */
  --primary-color: #014d4e;

  /* Secondary Color */
  --secondary-color: #ff9408;

  /* Secondary Color Modified */
  --secondary-color-m: #ff94088e;

  /* tertiary color */
  --tertiary-color: #017374;

  /* tertiary color modified */
  --tertiary-color-m: #01727498;
}

// $bp-largest: 75em; //1200px
// $bp-large: 68.75em; //1100px
// $bp-medium: 56.25em; //900px
// $bp-small: 37.5em; //600px
// $bp-smallest: 31.25em; //500px

body {
  font-family: "Baloo Tamma 2", cursive;
  line-height: 1.8;
  display: flex;

}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
